<!DOCTYPE html>
<html>
	<head>
		<title>Restaurant Menu</title>
	</head>
	<body>

		<h1>{{ restaurant.name }}</h1>

		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
					{% for message in messages %}
						<li><strong> {{ message }} </strong></li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}


		{% for i in items %}
			{{i.name}}
			</br>
			{{i.description}}
			</br>
			{{i.price}}
			</br>
			<a href='#'>Edit</a>
			<a href='#'>Delete</a>
			</br>
			</br>
		{% else %}
			<p><em>You currently have no menu items</em></p>
		{% endfor %}


		<a href = '#'>Create New Item</a>

	</body>
</html>
