<!DOCTYPE html>
<html>
	<head>
		<title>Restaurants</title>
	</head>
	<body>

			<ul>
				{% for restaurant in restaurants %}
					<li><strong>{{ restaurant.name }}</strong></li>
				{% else %}
					<li><em>No Restaurants Found</em></li>
				{% endfor %}
			</ul>


		<a href = '#'>Create New Restaurant</a>

		</br>
		</br>

		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
					{% for message in messages %}
						<li><strong> {{ message }} </strong></li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}


		</br>

<!-- 		{% for i in items %}
			{{i.name}}
			</br>
			{{i.description}}
			</br>
			{{i.price}}
			</br>
			<a href='#'>Edit</a>
			<a href='#'>Delete</a>
			</br>
			</br>
		{% endfor %} -->

	</body>
</html>
