<!DOCTYPE html>
<html>
	<head>
		<title>Restaurants</title>
	</head>
	<body>

		<h1>Restaurants</h1>

		<a href = "{{url_for('newRestaurant')}}"><h4>Create New Restaurant</h4></a>
		<br>

		{% for restaurant in restaurants %}
			<a href="{{url_for('showMenu', restaurant_id = restaurant.id)}}"><h2>{{restaurant.name}}</h2></a>

			<a href="{{url_for('editRestaurant', restaurant_id = restaurant.id)}}"><p>Edit</p></a>

			<a href="{{url_for('deleteRestaurant', restaurant_id = restaurant.id)}}"><p>Delete</p></a>

			</br>
		{% endfor %}






		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
					{% for message in messages %}
						<li><strong> {{ message }} </strong></li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}


		</br>

	</body>
</html>
